<div>
  <strong>Product name:</strong>
  <%= order.product_name %>

  <strong>Product count:</strong>
  <%= order.product_count %>

  <div class="comment-admin">
  <%= link_to "Edit", edit_customer_order_path(@customer, order) %>
  <%= link_to "Delete", [@customer, order], method: :delete %>
  </div>

</div>
