<table>
  <thead>
    <tr>
      <strong>Product name:</strong>
      <%= order.product_name %>

      <br>

      <strong>Product count:</strong>
      <%= order.product_count %>

      <th colspan="3"></th>
    </tr>
  </thead>
</table>
